body{
    background-color: aquamarine;
}

.biodataForm{
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
  
    background-color: aliceblue;
}
input {
    text-align: center;
    align-items: center;
    background-color:rgb(255, 255, 255);
    border: 1px solid;
    border-radius: 10px;
    height:30px;
    width:350px;
    opacity: 0.5;
}
input:focus {
    outline:none;
}
.biodataForm input{
    display: flex;
    flex-direction: row;
    margin: 20px;
    
  
}
.biodataForm button{
    text-align: center;
    align-items: center;
    padding: 10px;
    background-color: green;
    border-radius: 10px;
    font-weight: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}