*{
    margin: 0;
    padding: 0;
}
body{
    color:white;
}
@media (max-width:480px){
    body{
        text-align: center;
        background: rgba(255, 255, 255, 0.9); /* Semi-transparent yellow */
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
    }
}



  /* #box {
    width: 200px;
    height: 200px;
    border: solid black;

  } */



.Login-container{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: row;
   object-fit: fit;
}
.Login-img img{
   min-width: 500px;
   height: auto;

}
.Login-bag{
    margin-top: 30px;
    margin-bottom: 10px;
}
.center-container{
    justify-content:center;
    text-align: center;
    align-items: center;
}
.Login-row{
    width:100%;
 max-height: 100%;
  
      flex-wrap: nowrap;

  padding: 30px;
  background-color: rgb(108, 31, 138);
 
}
.gap-items-2{
    display:flex;
}
.text-center i{
    color: white;
    padding: 15px;
    border-radius: 50%;
    border:  1px solid white;
    
}
.mt-50{
    padding: 5px;
    text-align: start;
    justify-content:start;
    border:none;
    background-color: none;
    
    
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
   
  }




.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal {
    background: rgba(0, 0, 0, 0.3);
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}
.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
}
